.outerContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: auto;
  /* overflow-y: scroll; */
  /* margin-top: 5vh; */
  /* border: 2px solid black; */
  /* align-items: center; */
  /* overflow-x: hidden; */
  /* padding-bottom: 10vh; */
  /* overflow: auto; */
}

.innerContainer {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  grid-gap: 60px;
  /* padding-top: 5vh; */
  /* padding-bottom: 5vh; */
  /* border: 1px solid black; */
  /* width: 60vw; */
  /* grid-template-rows: repeat(auto, 600px); */
  /* min-height: 100vh; */
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
}

.innerContainer > * {
  width: 400px;
  /* height: auto; */
  /* height: 284.5px; */
  /* height: 300px; */
}
