h1 {
  color: blue;
}

.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainPic {
  /* display: inline-block; */
  max-height: 60vh;
  height: 60vh;
  animation: slide-down 1000ms ease-out forwards;
}

.shadow {
  width: 100px;
  position: absolute;
  bottom: 17vh;
  width: 276px;
  height: 16px;
  background: #d9d9d9;
  border-radius: 50%;
  animation: appear 1000ms ease-out forwards;
}

.artistName,
.artistPhrase span {
  font-family: "Keania One", cursive;
}

.artistName {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 1rem;
  left: 2rem;
  opacity: 0;
  animation: appear 700ms ease-out forwards;
  animation-delay: 1000ms;
}

.artistName span {
  border-left: 3px solid black;
  padding-left: 0.5rem;
}

.artistPhrase {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  opacity: 0;
  animation: appear 700ms ease-out forwards;
  animation-delay: 1000ms;
}

.artistPhrase span {
  display: flex;
  justify-content: flex-end;
  border-right: 3px solid black;
  padding-right: 0.5rem;
}

.artistName,
.artistPhrase {
  font-size: 1.5rem;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .shadow {
    width: 200px;
  }

  .container img {
    height: 50vh;
  }

  .artistName,
  .artistPhrase {
    font-size: 1rem;
  }
}
