nav {
  display: flex;
  justify-content: flex-end;
  height: 10vh;
}

ul {
  display: flex;
}

.container {
  width: 30vw;
  display: flex;
  align-items: self-start;
  justify-content: space-evenly;
  position: absolute;
  top: 1rem;
  right: 2rem;
  opacity: 0;
  animation: appear 700ms ease-out forwards;
  animation-delay: 1000ms;
}

.container button {
  background-color: white;
  font-family: "Alegreya Sans";
}

.container button a {
  text-decoration: none;
  text-underline-offset: 0.3rem;
  color: black;
}

.container button a:hover {
  text-decoration: underline;
}

.hamburger {
  width: 35px;
  height: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburgerLine {
  width: 100%;
  height: 3px;
  background: black;
}

.test {
  border: 2px solid red;
  display: none;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .container button:not(:last-child) {
    display: none;
  }

  .container {
    justify-content: flex-end;
  }

  .hamburger {
    display: flex;
  }
}
