nav {
  display: flex;
  justify-content: flex-end;
  height: 10vh;
}

ul {
  display: flex;
}

.container {
  width: 35vw;
  display: flex;
  align-items: self-start;
  justify-content: space-evenly;
  position: absolute;

  top: 4vh;
  right: 1vw;
}

.hiddenAnimationCSS {
  opacity: 0;
  animation: appear 700ms ease-out forwards;
  animation-delay: 1000ms;
}

.container button {
  background-color: white;
  font-family: "Alegreya Sans";

  font-size: 1.5vw;
}

.container a button:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: black;
}

/* .hamburger {
  width: 35px;
  height: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  position: absolute;
  top: 3rem;
  right: 3rem;
  opacity: 0;
  animation: appear 700ms ease-out forwards;
  animation-delay: 1000ms;
} */

.hamburgerHomePageStyling {
  width: 35px;
  height: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  position: absolute;
  top: 5vh;
  right: 5vw;
}

.hamburgerNonHomePageStyling {
  width: 35px;
  height: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.hamburger:hover,
button {
  cursor: pointer;
}

.hamburgerLine {
  width: 100%;
  height: 3px;
  background: black;
}

.expanded {
  background-color: rgb(10 9 9 / 81%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateY(11vh);
  height: 40vh;
  z-index: 1000;
  width: 100vw;
}

.activeRoute {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1600px) {
  .container {
    top: 3rem;
    right: 3rem;
    width: 25vw;
  }

  .container button {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 45vw;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    width: 50vw;
  }
}

@media screen and (max-width: 768px) {
  .container button {
    display: none;
  }

  .expanded {
    position: absolute;
    top: 5vh;
  }

  .expanded button {
    height: 3rem;
    width: 100vw;
    background-color: #66339900;
    color: white;
    font-family: "Alegreya Sans";
    font-size: 1.5rem;
  }

  .expanded button:hover {
    background-color: rgb(107, 100, 100);
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  .container {
    justify-content: flex-end;
  }

  .hamburgerHomePageStyling,
  .hamburgerNonHomePageStyling {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .expanded {
    display: none;
  }
}
